body {
    background-color: blue;
}
h1 {
    padding: 30px;
    background-color: red;
    text-align: center;
}
.header {
    text-align: center;
}
.CHUNGA {
    display: flex;
    justify-content: center;
}
.MEMES {
    text-align: center;
}
.MEMES1 {
    text-align: center;
}
.one {
    display: none;
    text-align: center;
}
.tahw1 {
    display: none;
    text-align: center;
}
.button21 {
    display: none;
    text-align: center;
}
.theresnoway1 {
    display: none;
    text-align: center;
}